*{
    box-sizing: border-box;
}

header,main,aside,footer,aside{
    background-color: #a3a3a3;
}

#wrapper{
    width: 610px;
    margin: auto;
}
nav,article{
    background-color: #f4f4f4;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    color: white;
    text-align: center;
    width: 100%;
    padding: 1em
}

#logo{
    background-color: red;
    width: 20em;
    height: 3em;
    margin-bottom: 1em;

}

nav{
    width: 90%;
    height: 3em;
    color: white;
    text-align: center;
}

main{
    float:left;
    width: 80%;
    height: 40em;
    margin-top: 1em;
    padding:1em;
    margin-bottom: 1em;
    margin-right: 1em;
}

article{
    width: 60%;
    height: 10em;
    margin-bottom: 1em;
}

aside{
    float: left;
    width: 17.3%;
    height: 40em;
    margin-top: 1em;
}

footer{
    clear: both;
    height: 12em;
    color: white;
    text-align: center;
}
